root = true

[*.py]
indent_style = space
indent_size = 4
include_trailing_comma = true
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
multi_line_output = 3
line_length = 88

# Use 2 spaces for the HTML files
[*.html]
indent_size = 2

# The JSON files contain newlines inconsistently
[*.{js,jsx,json}]
indent_size = 2
insert_final_newline = ignore

# Use 2 spaces for the SCSS files
[*.scss]
indent_size = 2

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
