@use "sass:color";

$free: #87f1ff;
$not-available: #d33232;
$available: #f9dc5c;
$border-radius: 2px;

.hour {
  &__attendance {
    display: block;
    width: 100%;
    max-height: 100%;
    border-radius: $border-radius;

    &--available {
      background-color: $available;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }

    &--not-available {
      background-color: $not-available;
    }
  }
}

.day {
  font-family: monospace;
  margin: 2em 0;
  height: 100px;
  display: flex;
  position: relative;

  &__title {
    font-size: 1em;
  }

  &__hour {
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
    height: 100%;
    background-color: $free;
    margin: 0 0.5px;
    border-radius: $border-radius;
    transition: background-color 0.2s ease;

    &--selected {
      box-shadow: 0 0 0 4px #1781b7;
      z-index: 2;

      &::before {
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: color.adjust($free, $lightness: -30%);

      & .hour__attendance {
        &--available {
          background-color: color.adjust($available, $lightness: -30%);
        }

        &--not-available {
          background-color: color.adjust($not-available, $lightness: -30%);
          cursor: not-allowed;
        }
      }
    }

    &::before {
      position: absolute;
      bottom: -1.5em;
      content: attr(data-hour) "";
      transform: translateX(-0.25em);
    }
  }
}
