@use "day";
@use "booking-form";

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: hsl(240, 6.2%, 15.9%);
    --color-text: hsla(0, 0%, 100%, 0.6);
  }
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text);
}
